


.footer {
    font-family: $main-font;
    background-color: $dark-gray;
    scroll-behavior: smooth;
}

.footer__top {
    display: flex;
    margin-top: 8.4rem;
    justify-content: space-between;
}

.footer__top__left {
    h1 {
        display: inline-block;
        font-weight: $h1-fw;
        font-size: $h1-fs;
        line-height: $h1-lh;
        color: $white;
        margin-bottom: 3.6rem;
        transition: 0.3s;
    }
    h1:hover {
        color: chartreuse;
    }
    h3 {
        width: 445px;
        font-size: $body-fs;
        line-height: $body-lh;
        color: $grey;
        margin-bottom: 21.11rem;
    }
    h3:hover {
        color: rgb(127, 255, 0);
    }
}

@media screen and (max-width:768px) {
    .footer__top {
        width: 100%;
        max-width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__top__container {
        width: 100%;
        max-width: 768px;
    }
    .footer__top__left {
        h1 {
            font-size: 7.2rem;
            margin-left: 8rem;
        }
        h3 {
            font-size: $body-fs;
            line-height: $body-lh;
            text-align: center;
            margin-bottom: 4.8rem;
        }
    }
}
@media screen and (max-width:576px) {
    .footer__top__left {
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 4rem;
            line-height: 1;
            padding-left: 3.6rem;
            margin-bottom: 2rem;
        }
        h3 {
            width: 100%;
            max-width: 400px;
            text-align: center;
        }
    }
}



.footer__bottom {
    scroll-behavior: smooth;
    hr {
        margin-bottom: 4.7rem;
    }
    .footer__bottom__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 9.2rem;
        .footer__logo {
            display: flex;
        }
        .footer__list {
            display: flex;
            gap: 3.2rem;
        }
        .footer__nav__icons {
            display: flex;
            svg {
                display: flex;
            }
            svg:hover {
                background-color: rgb(127, 255, 0);
            }
        }
    }
}

@media screen and (max-width:768px) {
    hr {
        max-width: 706px;
        width: 100%;
        margin-bottom: 3rem;
    }
    .footer__bottom__header  {
        width: 100%;
        max-width: 708px;
    }
}
@media screen and (max-width:576px) {
    .footer__bottom {
        hr {
            width: 100%;
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
        }
        .footer__bottom__header {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}