.footer__top__right {
    scroll-behavior: smooth;
    form {
        display: flex;
        flex-direction: column;
        padding-bottom: 3.2rem;
        font-size: $body-fs;
        font-weight: 500;
        line-height: $body-lh;
        input{
            width: 44.5rem;
            height: 4.3rem;
            outline: none;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid;
            color: $white;
            margin-bottom: 3.2rem;
            padding-left: 1rem;
        }
        .form__message__input {
            width: 445px;
            margin-bottom: 3.2rem;
        }
    }
      
        .footer__btn {
            width: 135px;
            height: 38px;
            background-color: $dark-gray;
            border: 0;
            border-bottom: 1px solid rgb(127, 255, 0);
            color: $white;
            margin-left: auto;
            transition: 0.3s;
        }
        .footer__btn:hover {
            color: rgb(127, 255, 0);
        }
}








@media screen and (max-width:768px) {
    .footer__top__right {
        scroll-behavior: smooth;
        form {
            align-items: center;
            justify-content: center;
            input {
                width: 380px;
            }
            .form__message__input {
                width: 380px;
            }
        }
    }
}
@media screen and (max-width:567px) {
    .footer__top__right {
        scroll-behavior: smooth;
        form {
            input {
                width: 300px;
            }
        }
    }
}