$body-bg: #151515;
$black: #151515;
$dark-gray: #242424;
$green: #4EE1A0;
$grey: #D9D9D9;
$white: #FFFFFF;



$main-font: "Space Grotesk", sans-serif;

$body-fs: 1.8rem;
$body-lh: 1.6;


$h1-fw: 700;
$h1-fs: 8.8rem;
$h1-lh: 1;
$lt-s: -2.05px;


$h2-fw: 500;
$h2-fs: 4.8rem;
$h2-lh: 1.17;
$lt-s: 1.5px;


$h3-fw: 400;
$h3-fs: 2.4rem; 
$h3-lh: 1.3;


